.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    gap: 0.5rem;
}

.containerBox{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.galleryImages {
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    border-radius: 10px !important;
}

.galleryImages:hover {
    filter: brightness(0.6);
    transition: 0.4s;
}
